footer
  .container
    .row
        .col-md-4.col-md-offset-8
            p
              | 資料來源：
              a(href="http://data.taipei")
                | 臺北市政府資料開放平台 
            p
              |專案程式碼來源：
              a(href="http://taipei-pop.herokuapp.com")
                | 天龍特公地
            p
              |主機及服務代管：
              a(href="https://middle2.com/")
                | Middle2 Civic-Tech Paas 平臺