footer
  .container
    .row
        .col-md-4.col-md-offset-8
            p
              | 資料來源：
              a(href="http://data.taipei")
                | 臺北市政府資料開放平台
			      | 專案程式碼來源：
                  a(href="http://taipei-pop.herokuapp.com")
                    | g0v天龍特公地團隊
                    span  
                      | &copy; 2015 公有地大行動